// Custom styles to override font sizes
.card-text {
    font-size: 0.6rem !important;
  }
  
.project-card {
    font-size: 0.6rem !important;
  }
  
.section-subheading {
    font-size: 0.7rem !important;
  }

.article-style {
    font-size: 0.8rem !important;
  }
  
  

  // Just use any of the below values for font size:
        // 0.8rem = small
        // 0.7rem = very small
        //0.6rem = tiny
        // 0.5rem = extremely tiny