// Custom styles to override font sizes
.card-text {
    font-size: 0.6rem !important;
  }
  
  .article-style {
    font-size: 0.6rem !important;
  }
  
  .section-subheading {
    font-size: 0.6rem !important;
  }
  
  .project-card {
    font-size: 0.6rem !important;
  }